.navbar {
  background-color: #001b3a;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}  
.bars {
  visibility: hidden;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  margin: 0 20px;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 576px) {
  .navbar {
    overflow: hidden;
  }
  .bars {
    visibility: visible;
    color: white;
    font-size: 30px;
    position: fixed;
    top: 10px;
    left: 50px;
  }
  ul {
    display: block;
    visibility: hidden;
  }
  li {
    text-align: center;
    padding: 15px;
  }
}
