<app-nav class="nav" [admin]="currentUser.admin"></app-nav>
<div class="container" *ngIf="!loading">
  <header>
    <h1>Users</h1>
    <button (click)="addClick()">Add User</button>
  </header>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Date Created</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ timeFormat(user.created) }}</td>
        <td>
          <fa-icon
            class="icon"
            [icon]="faEdit"
            routerLink="/editUser/{{ user.id }}"
          ></fa-icon>
        </td>
        <td>
          <fa-icon
            class="icon"
            [icon]="faTrashCan"
            (click)="deleteClick(user)"
          ></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
