header {
  flex-direction: column;
  padding-bottom: 50px;
}
h1 {
  padding-bottom: 25px;
}
p {
  padding: 15px;
}
button {
  margin: 50px 0 75px 0;
  width: 50%;
}
@media (max-width: 800px) {
  table {
    width: 100%;
    padding: 0;
  }
  thead {
    visibility: collapse;
  }
  th {
    margin: 0;
    padding: 0;
    font-size: 1px;
    border: none;
    overflow: hidden;
  }
  tr {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 15px 0;
  }
  tr:nth-of-type(2n) {
    background-color: transparent;
  }
  tr:nth-of-type(2n + 1) {
    background-color: #001c57;
  }
  td {
    width: 100%;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    grid-row: 1 / 2;
  }
  .author {
    grid-row: 2 / 3;
  }
  .img {
    grid-row: 3 / 4;
  }
  .price {
    grid-row: 4 / 5;
  }
  .price::before {
    content: "Unit Price: \A";
    white-space: pre;
  }
  .quantity {
    grid-row: 5 / 6;
  }
  .quantity::before {
    content: "Quantity: \A";
    white-space: pre;
  }
  .sum {
    grid-row: 6 / 7;
  }
  .sum::before {
    content: "Total: \A";
    white-space: pre;
  }
}
